*{
    margin: 0;
    padding: 0;
}
.back{
    background-color: black;
}

.container{
    width: 1280px;
    margin: auto;
}

img{
    width: 100%;
}
#main{
    margin-top: 30px;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 15px;
}

.movies{
    width: 250px;
    /* ert xazze mainc ar gasworda */
    height: 850px;

}

.blue{
    background-color: blue;
}

.movie-content-box  {
    overflow: hidden;
    height: 500px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    
}

